body {
    /* Use User system fonts that are available. For lightweight purposes */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
    margin: 0 auto;
    padding: 3rem 6rem;
    max-width: 100vw;
}

ul {
    list-style: none;
    padding: 0;
}

li.popular-item:not(:last-of-type),
.nav li:not(:last-of-type),
.languages li:not(:last-of-type) {
    margin-right: 30px;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-around;
}
.column {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

/* Buttons */
.button {
    color: white;
    background: black;
    display: block;
    padding: .5rem 0;
    pointer-events: auto;
    margin: 0 auto;
    text-align: center;
    transition: all 0.15s ease-in;
    width: 200px;
}
.reset {
    background: transparent;
    border: none;
    color: rgb(208, 2, 27);
    pointer-events: auto;
}
.button:hover, 
.button:active {
    transform: translateY(.15rem);
}

/* Nav */
.nav {
    display: flex;
    margin:0 0 6rem;
}

.nav li a{
    color:  rgb(208, 2, 27);
}

.active {
    font-weight: bold;
}


/* Home */
.home-container {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* Battle */
label.header {
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 2rem;
}
input {
    height: 2rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 19rem;
}

/* Popular */
ul.languages {
    font-weight: 900;
    text-align: center;
}


.languages li {
    cursor: pointer;
    display: inline-block;
    pointer-events: auto;
}

.popular-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
}

.popular-item {
    align-items: center; 
    display: flex;
    flex:1 1 16.666666666666667%;
    flex-flow: column wrap;
    justify-content: center;
}
.popular-item:not(:last-of-type) {
    margin: 2rem 0 ;
}
.popular-rank {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.space-list-items {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
}

.avatar {
    border-radius: 50%;
    max-width: 150px;
}


